---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { POSTS_TITLE, POSTS_DESCR, POSTS_H1 } from '../../consts';

import { getCollection, render } from 'astro:content';
const { Content } = await render(Astro.props);

export async function getStaticPaths() {
    const posts = await getCollection('posts');
    return posts.map((post) => ({
        params: { slug: post.id },
        props: post,
    }));
}
---

<BaseLayout title={POSTS_TITLE} description={POSTS_DESCR}>
    <h1>{POSTS_H1}</h1>
</BaseLayout>
