---
import BaseLayout from "../layouts/BaseLayout.astro";
import { INDEX_TITLE, INDEX_DESCR, INDEX_H1 } from "../consts";
---

<BaseLayout title={INDEX_TITLE} description={INDEX_DESCR}>
    <h1>{INDEX_H1}</h1>
</BaseLayout>
